@CHARSET "UTF-8";
div.new_holder {
	padding:10px;
	background-color:#cdcdcd;
	display:none;
}
div.new_holder input.holder_name {
	border:none;
	width:160px;
	height:30px;
	padding-left:6px;
}
div.new_holder input.holder_description {
	border:none;
	width:340px;
	height:30px;
	padding-left:6px;
	margin-right:10px;
}
div#right div.title {
	padding: 12px 15px 12px 15px;
	font-size:18px;
	font-weight: bold;
	background-color: #f6f6f6;
	border-bottom: 1px solid #cdcdcd;
}
div#right img.profile {
	width:90px;
	height:90px;
	padding:5px;
}
div#right label#name {
	position:relative;
	top:-50px;
	left:10px;
}

div.list_holders {
	margin:20px 0px 20px 0px;
	width: 660px;
	display: block;
}
div.list_holders div.title {
	font-size:18px;
	padding:20px 10px 10px 10px;
	border-bottom: 2px solid #cdcdcd;
}
div.list_holders div.title a {
	text-decoration:none;
	color:#000080;
}
div.list_holders div.title span {
	font-size:.6em;
}
button.new_holder_btn {
	float:right;
	padding:8px 10px 8px 10px;
	margin-top:-6px;
	border:none;
	outline:none;
	cursor:pointer;
	font-weight:bold;
	background-color: #eeeeee;
	background-color: #dddddd;
	background-image: -moz-linear-gradient(#eee, #ddd);
	background-image: -webkit-linear-gradient(#eee, #ddd);
	background-image: linear-gradient(#eee, #ddd);
	background-repeat: repeat-x;
	background-repeat: repeat-x;
	border: 1px solid #d5d5d5;
}
button.new_holder_btn:hover {
	background:#d5d5d5;
}
div.list_holders div.holders div.section {
	border-top: 1px solid #cdcdcd;
	padding:25px 0px 35px 30px;
}
div.list_holders div.holders a.application_link {
	font-weight:bold;
	color:#4183c4;
	text-decoration:none;
}
div.list_holders div.holders span.description {
	color:#999;
	margin-top:5px;
	display:block;
	font-size:.8em;
}
div.list_holders div.holders div.pdata {
	float:right;
	font-size:.8em;
	color:#545454;
	padding:30px 20px 0px 0px;
}
div.list_holders div.holders span.detail {
	color:#aaa;
	margin-right:10px;
	font-size:.8em;
}
div#no_application {
	color:#545454;
	margin-top:60px;
}
a#create_now {
	text-decoration:none;
	color:#4183c4
}
a#create_now:hover {
	text-decoration:underline;
}